# Server
NODE_ENV=DEV
PORT=3004

# Auth
JWT_SECRET=

# Database
MONGODB_URI=
MONGODB_DB_NAME=

# Website (Frontend, Production only)
WEBSITE_URL=

# Blog Portal (Frontend, Production only)
BLOG_PORTAL_URL=

# Blog (Backend,Production only)
BLOG_URL=
